#imgNav {
    height: auto;
    width: 50px;
    margin-right: 20px;
}


#carouselExampleCaptions {
    margin-top: 1px;
}

#misvisval {
    background-color: rgba(218, 218, 218, 0.103);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 95%;
    height: 240px;
    border-radius: 30px;
}

#tituloIndex {
    font-size: 65px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: black;
}

#paragrafoIndex {
    margin: 10px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: #323231;
}

#margemDireita {
    margin-right: 370px;
}

#titleCursos {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cardsFlex {
    margin: 50px;
    display: flex;
    gap: 60px;
}

.card-title{
    color: black;
}

#subtitulo {
    margin: auto;
    margin-bottom: 15px;
    width: 1000px;
}

.subTitleCursos {
    text-align: center;
    font-size: 24px;
    margin: 0px;
    font-weight: 400;
}

#titleContato {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#ajusteTamanhoForm {
    margin: auto;
    margin-top: 30px;
    
    width: 600px;
    height: auto;
    border-radius: 8px;
}

#porTras {
    margin: auto;
    border-radius: 20px;
    background-color: #ffdc2e;
    width: 650px;
    height: 315px;
}
