html body{
    background-color: rgb(182, 208, 243);
}

#form {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 25px;
    border-style:groove;
    border-color: rgb(182, 208, 243);
    width: 600px;
}

#marginForm{
    margin-left: 25%;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 650px;
    height: auto;
}

#formDados{
    padding-top: 40px;
    padding-bottom: 25.5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 25px;
    border-style:groove;
    border-color: rgb(182, 208, 243);
    width: 600px;
}

#marginFormDados{
    margin-left: 25%;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 650px;
    height: auto;
}